
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); 

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: aqua;
    text-align: center;
    align-items: center;
  }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center; 
  width: 20rem;
  height: 27rem;
  margin: auto;
  border-radius: 1rem;

}
.qr {
  display: block;
  width:320px;
  height: 320px;
  border-radius: 25px;
  padding: 1rem;
}

h4, p {
  line-height: 165%;
}